/* style.css */
body {
    font-family: Arial, sans-serif;
}

.tabs {
    text-align: center;
    margin-top: 20px;
}

.tablink {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

.tablink:hover {
    background-color: #00587a;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

button:hover {
    background-color: #00587a;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
